<section class="filter__container">
  <p class="filter__title">Asset type</p>
  <ul>
    <li class="filter__item">
      <div class="filter__item__thumb">
        <input type="checkbox" id="template" name="template" value="template">
        <svg width='14' height='14'>
          <use class="icon-template" href='./images/icons/sprite.svg#icon-0'></use>
        </svg>
        <label class="filter__template" for="template">Template</label>
      </div>
    </li>

    <li class="filter__item">
      <div class="filter__item__thumb">
        <input type="checkbox" id="image" name="image" value="image">
        <svg width='16' height='16'>
          <use class="icon-image" href='./images/icons/sprite.svg#icon-1'></use>
        </svg>
        <label for="image">Image</label>
      </div>
    </li>

    <li class="filter__item">
      <div class="filter__item__thumb">
        <input type="checkbox" id="video" name="video" value="video">
        <svg width='16' height='16'>
          <use class="icon-video" href='./images/icons/sprite.svg#icon-2'></use>
        </svg>
        <label for="video">Video</label>
      </div>
    </li>

    <li class="filter__item">
      <div class="filter__item__thumb">
        <input type="checkbox" id="pdf" name="pdf" value="pdf">
        <svg width='16' height='16'>
          <use class="icon-pdf" href='./images/icons/sprite.svg#icon-3'></use>
        </svg>
        <label for="pdf">PDF</label>
      </div>
    </li>

    <li class="filter__item">
      <div class="filter__item__thumb">
        <input type="checkbox" id="gif" name="gif" value="gif">
        <svg width='16' height='16'>
          <use class="icon-gif" href='./images/icons/sprite.svg#icon-4'></use>
        </svg>
        <label for="gif">GIF</label>
      </div>
    </li>

    <li class="filter__item">
      <div class="filter__item__thumb">
        <input type="checkbox" id="article" name="article" value="article">
        <svg width='16' height='16'>
          <use class="icon-link" href='./images/icons/sprite.svg#icon-5'></use>
        </svg>
        <label for="article">Article</label>
      </div>
    </li>
  </ul>
</section>